doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login
    link(rel='stylesheet' href='../css/style.css')
    link(rel='stylesheet' href='../css/deluser.css')
  body#all
    .navbar-container
      header
        a(href='/')
          img.logo(src='../images/logo.svg' alt='Games')
        nav
          a.hambtn(href='#')
            img#menu.menu(src='../images/ham.svg' alt='Mobilemenu')
          ul#nav.ShowDesk.HideDesk.menull
            li#exit.exit-btn.HideDesk
              img(src='../images/cancel-button.svg' alt='toggle menu')
            li
              a(href='/') Home
            li
              a(href='/about') About
            li 
              a(href='/panel') Reviews
            li 
              a(href='/contact') Contact
            if loggedIn
              if isAdmin 
                li
                  a(href='/secret') Admin
                li
                  a(href='/logout') Logout
              else
                li
                  a(href='/logout') Logout
                
            else     
              li
                a(href='/login') Login
    #container.container
      .login
        h1.delUserHTML delUser
          each n in users
            if(n.username != username)
            .delUserForm
              form#delUserForm(method='POST' action='/api/delUser')
                input(type='hidden' name='username' value=n.username)
                button(onClick='document.getElementById("delUserForm").submit()') delete #{n.username}          
                br
    footer
      #container.footer-container
        .container
          a(href='#')
            img.logo(src='../images/logo.svg' alt='logo')
          p.address
            | Amstelstraat 32, 1690AB
            br
            | NED
          ul.footer-linkjes
            li
              a(href='#') Terms of Service
            br
            li
              a(href='#') Privacy policy
    script(src='../js/main.js')
