doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title gta 5 review
    link(rel='stylesheet' href='/css/style.css')
    body#all.all
    .navbar-container
      header
        a(href='/')
          img.logo(src='/images/logo.svg' alt='Games')
        nav
          a.hambtn(href='#')
            img#menu.menu(src='/images/ham.svg' alt='Mobilemenu')
          ul#nav.ShowDesk.HideDesk.menull
            li#exit.exit-btn.HideDesk
              img(src='/images/cancel-button.svg' alt='toggle menu')
            li
              a(href='/') Home
            li
              a(href='/about') About
            li.dropdown 
              a#menu2.menu2(href="#") Reviews
              ul#nav2.nav2.ShowDesk.HideDesk.menull
                li#exit2.exit2.exit-btn.HideDesk
                  img(src='/images/cancel-button.svg' alt='toggle menu')
                li 
                  a(href="/reviews/test1") rdr2 
                li 
                  a(href="/reviews/test2") gta 5 
            li 
              a(href='/contact') Contact
            if loggedIn
              li
                a(href='/secret') Admin
              li
                a(href='/logout') Logout
            else     
              li
                a(href='/login') Login
    .reviewcontainer
        .article-body-commercial-selector.css-79elbk.article-body-viewer-selector
            figure.css-10khgmf
            .css-zourp6
            p.css-1x4bywk
            | There has been a particular theory going round for the last year or so, that &quot;box set&quot; TV has replaced movies as the preferred form of mass, culturally meaningful entertainment. It is the likes of Breaking Bad, The Wire and Homeland that are telling us about modern life now, rather than Hollywood&apos;s simplified three-act confections. 
            a(href='https://www.theguardian.com/games/grand-theft-auto' data-component='auto-linked-tag' data-link-name='in body link') Grand Theft Auto
            |  V, however, 
            em hints
            |  at a future in which that role is taken by games &ndash; or at the very least actively sought by them. Unlike the vast swathe of wondrous entertainment the video game industry produces, this series cannot be safely pigeon-holed or ignored by non-players. For the last decade, Rockstar has wielded a sledgehammer over public perceptions of what video games are or can be; now it has struck with merciless force.
            #dfp-ad--im.js-ad-slot.ad-slot.ad-slot--im(data-link-name='ad slot im' data-name='im' aria-hidden='true' data-mobile='1,1|2,2|88,85|fluid' data-label='false' data-refresh='false')
            p#sign-in-gate
            p.css-1x4bywk
            | Set mostly within the glitzily superficial city of Los Santos, a warped mirror of Los Angeles, GTA V is a sprawling tale of criminal maniacs self-destructing on a blood-splattered career trajectory to hell. Michael is the middle-aged thug, obsessed with movies, who pulled a witness protection deal with the feds after a failed heist many years ago. When his old partner Trevor, a sociopath who bakes meth out in the desert, turns up in town, the two join forces with a young black kid, Franklin, who&apos;s set on leaving his gang-infested neighbourhood behind. The aim is a few final high-paying jobs, but there&apos;s a festering resentment between Trev and Michael that goes back a long way, a fizzing fuse that trails all the way through the carnage.
            p.css-1x4bywk
            | This three-character format emancipates the narrative, jettisoning the awkward requirement for one protagonist to be everywhere, witnessing everything in this vast world. Switching between the characters can be done at any time while off mission, and all three have their own little pet projects to get involved with, adding variety and a few amusing surprises: switching to Trevor usually involves some bodily function or weird violent episode, while Michael has his dysfunctional family to manage. And overlaying all this is a huge plot about warring government agencies and corrupt billionaires.
            p.css-1x4bywk
            | The result is a freewheeling joyride through genre cinema and literature: there are psychopathic mafia bosses, insane motorcycle gangs, xenophobically sketched triads, corrupt secret agents and cynical movie producers &ndash; their stories twist and interconnect, slithering around the lives of our protagonists. It&apos;s dizzying at times, but also daftly compelling, and the influence of multi-strand dramas such as The Wire is obvious.
            h2 On a mission
            figure.css-10khgmf
            .css-1nfcn93
                picture(itemprop='contentUrl')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379335926701/GTA-5-screenshot-008.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=81d7b14526984c31c653d65b4f32489d 1240w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379335926701/GTA-5-screenshot-008.jpg?width=605&quality=45&auto=format&fit=max&dpr=2&s=87103d9f82a306546184aeadbd02d0a5 1210w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379335926701/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=edd8dd2409067b58bc987c59ef8a09d3 890w' sizes='(min-width: 660px) 620px, 100vw' media='(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379335926701/GTA-5-screenshot-008.jpg?width=620&quality=85&auto=format&fit=max&s=217935cbab94bfa85ac16f1ca1243acf 620w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379335926701/GTA-5-screenshot-008.jpg?width=605&quality=85&auto=format&fit=max&s=66e59decaea3a6dac24f80e0429e2516 605w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379335926701/GTA-5-screenshot-008.jpg?width=445&quality=85&auto=format&fit=max&s=9e998f32e3e80cdf5a1f2ab4d03b1e14 445w' sizes='(min-width: 660px) 620px, 100vw')
                img.css-uk6cul(alt='GTA 5 screenshot' src='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379335926701/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=edd8dd2409067b58bc987c59ef8a09d3' height='276' width='460' loading='lazy')
            figcaption.css-xe26t6
                span.css-1vo1rhq
                svg(width='11' height='10' viewbox='0 0 11 10')
                    path(fill-rule='evenodd' d='M5.5 0L11 10H0z')
                span.css-1f2y4fi GTA 5: Trevor feels the Heat
            p.css-1x4bywk
            | GTA veterans will still recognise how the game underneath it all works. There is a backbone of narrative missions that gamers must complete in order to progress, but beyond them is a vast range of dynamic encounters, side-quests and money-making ventures, from buying property to managing clubs and playing the stock exchange (which cleverly reacts to in-game events, allowing you to make extra cash by buying the right shares at the right time). Most story tasks are variations on one theme &ndash; drive somewhere, shoot something, drive back &ndash; but as with all video game feedback loops, the joy of the system is in the execution. And boy does GTA V execute.
            p.css-1x4bywk
            | To say much more would be to ruin the fun of discovery, but rest assured there are insane stunts, there is massive destruction, there is military-grade weaponry, and you will be required to jump out of planes. And helicopters. Combining the sheer scale of the environment with the excellent physics engine, these escapades throw everything at you, from rural bank-heists to jet-ski chases, to operating huge industrial machinery. The bigger heists require mini-preparatory missions (hiding getaway cars, picking novelty masks) which help build the tension, and subtly add to the feeling that what we&apos;re all doing here is acting in our own version of Michael Mann&apos;s film Heat. While certain ideas are repackaged and chucked straight back at you several times, you&apos;re carried along on a rush of euphoric action and shock &ndash; mostly because the world looks and behaves as though all this makes sense.
            h2 Satirical scope
            figure.css-10khgmf
            .css-1nfcn93
                picture(itemprop='contentUrl')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336812314/GTA-5-screenshot-008.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=d0ef1d42987ae6e8dad23f33aef848af 1240w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336812314/GTA-5-screenshot-008.jpg?width=605&quality=45&auto=format&fit=max&dpr=2&s=71194cf10b149f09548dcd9bf3fddec1 1210w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336812314/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=6d981975507ebeaf015a61b884a83c70 890w' sizes='(min-width: 660px) 620px, 100vw' media='(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336812314/GTA-5-screenshot-008.jpg?width=620&quality=85&auto=format&fit=max&s=48d34d2964bbfcfb25ec28dddf983a7b 620w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336812314/GTA-5-screenshot-008.jpg?width=605&quality=85&auto=format&fit=max&s=bbdaf5f710573cab51042c2fe56c59d6 605w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336812314/GTA-5-screenshot-008.jpg?width=445&quality=85&auto=format&fit=max&s=52b14e43a898a33dc390618140377924 445w' sizes='(min-width: 660px) 620px, 100vw')
                img.css-uk6cul(alt='GTA 5 screenshot' src='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336812314/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=6d981975507ebeaf015a61b884a83c70' height='276' width='460' loading='lazy')
            figcaption.css-xe26t6
                span.css-1vo1rhq
                svg(width='11' height='10' viewbox='0 0 11 10')
                    path(fill-rule='evenodd' d='M5.5 0L11 10H0z')
                span.css-1f2y4fi GTA 5: sharp-suited Michael
            p.css-1x4bywk
            | Indeed, Rockstar North has built an extraordinary universe that functions not only as an exciting, diverse setting but also as a pulverising, nihilistic satire on western society. Reality TV, celebrity magazines, social media, plastic surgery, pop psychology books &ndash; all get savaged via the often hilarious commercials on the game&apos;s many radio and TV stations. Even games themselves get hit: an advert for Righteous Slaughter 7 promises &quot;the realistic art of contemporary killing&quot;.
            p.css-1x4bywk
            | This isn&apos;t just confined to extraneous detail, it slides into the narrative. At one point we see the offices of a giant social network, Lifeinvader, a spot-on amalgam of Facebook, Apple and Google. The staff all wear cargo shorts, whine on about organic lactose-free dairy products and treat their CEO with religious deference. We also get corrupt FBI and CIA agents (called FiB and IAA in the game), trading drugs and manufacturing terrorist threats to keep their budgets topped up. Everyone is on the make, everyone is dangerous, and the game delights in thrusting us into the middle of it as a willing participant.
            p.css-1x4bywk
            | Gunfights, meanwhile, are furious, visceral ballets, fuelled by regular visits to the well-stocked Ammu-Nation stores. while GTA has learned a lot about organic environments from Red Dead Redemption (the rural areas of San Andreas are abuzz with wildlife), it has learned its game systems from Max Payne. The combat is ultra-smooth with a variety of decent, functional aiming options and a cover mechanic that works almost imperceptibly &ndash; the greatest compliment you can pay to this concept. Limited more by the player&apos;s imagination than by ability, most set-piece encounters are not overwhelmingly challenging, but they are spectacular - and this is the point. You have to understand that Grand Theft Auto V is not really a game about story or mechanics, even if it wants to be &ndash; it is a game about spectacle and experience.
            h2 Forgivable flaws
            figure.css-10khgmf
            .css-1nfcn93
                picture(itemprop='contentUrl')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379334561650/GTA-5-screenshot-008.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=ae66054af259170a1f39fb5cf3f7f3f5 1240w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379334561650/GTA-5-screenshot-008.jpg?width=605&quality=45&auto=format&fit=max&dpr=2&s=5d5376f88be94817dd2de5f33a001ee6 1210w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379334561650/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=d94e7bc9489497cfb3a05c904d90a7b9 890w' sizes='(min-width: 660px) 620px, 100vw' media='(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379334561650/GTA-5-screenshot-008.jpg?width=620&quality=85&auto=format&fit=max&s=e32b4af6013f839577a908738888c47c 620w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379334561650/GTA-5-screenshot-008.jpg?width=605&quality=85&auto=format&fit=max&s=2a7efd14759585c33abce7f4deecdf99 605w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379334561650/GTA-5-screenshot-008.jpg?width=445&quality=85&auto=format&fit=max&s=d1037d16a3637642d18f69c0e00cd3f6 445w' sizes='(min-width: 660px) 620px, 100vw')
                img.css-uk6cul(alt='GTA 5 screenshot' src='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379334561650/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=d94e7bc9489497cfb3a05c904d90a7b9' height='276' width='460' loading='lazy')
            figcaption.css-xe26t6
                span.css-1vo1rhq
                svg(width='11' height='10' viewbox='0 0 11 10')
                    path(fill-rule='evenodd' d='M5.5 0L11 10H0z')
                span.css-1f2y4fi GTA 5: there&apos;s a lot of driving
            p.css-1x4bywk
            | This is really important because it allows us to forgive the game&apos;s flaws. You have to do a 
            em lot
            |  of driving. There are no shortcuts, so every mission involves hitting the highways to get to the trigger point; and yes sometimes you think &quot;Ugh, not another car ride&quot;. Rockstar North has also developed a slightly irritating narrative trope that I&apos;ll call &quot;the exposition expedition&quot;: there are a lot of long journeys that just seem to be there so that the lead characters can chat about back-story, or engage in meandering expletive-drenched conversations on pop culture and psychology &ndash; something we probably have Tarantino to thank for.
            p.css-1x4bywk
            | Furthermore, the designers don&apos;t always make the rules of the system clear. Some missions will only end successfully if you carry out the correct action after a specific prompt, while others don&apos;t provide a prompt at all and then fail you if you miss the mandatory sweet spot. The game also has the habit of simultaneously providing mission instructions via in-game dialogue and an on-screen text prompt, which at the very least means you miss plot details, but at the worst means you can be left wondering what the hell you&apos;re supposed to do next because you paid attention to the wrong thing. Or at least that was my experience; others may be better at ludological multitasking.
            p.css-1x4bywk
            | Women are, once again, relegated to supporting roles as unfaithful wives, hookers and weirdos. The one successful female character in the story is suspected of just wanting to screw her boss. Of course, GTA is essentially an interactive gangster movie, and the genre has a long history of investigating straight male machismo at the expense of all other perspectives, but it would have been wonderful to see Rockstar challenging that convention. It&apos;s fine to parody the idiotic misogyny of violent men, but how about doing it by providing their opposite? It seems Rockstar North&apos;s all-male writing team is too in thrall to Tarantino and Brett Easton Ellis to really consider this.
            h2 Seductive vision
            figure.css-10khgmf
            .css-1nfcn93
                picture(itemprop='contentUrl')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336519788/GTA-5-screenshot-008.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=bbe6226c45fe4b592e658ef7ab197f08 1240w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336519788/GTA-5-screenshot-008.jpg?width=605&quality=45&auto=format&fit=max&dpr=2&s=7ea0f13e18033fe3668c26d24c866392 1210w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336519788/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=8b16e829836258ff7a5074aaba7c8ccd 890w' sizes='(min-width: 660px) 620px, 100vw' media='(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336519788/GTA-5-screenshot-008.jpg?width=620&quality=85&auto=format&fit=max&s=920ea077ab793d37cf9d0802f2ebe4a2 620w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336519788/GTA-5-screenshot-008.jpg?width=605&quality=85&auto=format&fit=max&s=aebdad1dc6055ce329021adc851b9972 605w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336519788/GTA-5-screenshot-008.jpg?width=445&quality=85&auto=format&fit=max&s=25bc5f858fd47d962e4a35a082c60392 445w' sizes='(min-width: 660px) 620px, 100vw')
                img.css-uk6cul(alt='GTA 5 screenshot' src='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336519788/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=8b16e829836258ff7a5074aaba7c8ccd' height='276' width='460' loading='lazy')
            figcaption.css-xe26t6
                span.css-1vo1rhq
                svg(width='11' height='10' viewbox='0 0 11 10')
                    path(fill-rule='evenodd' d='M5.5 0L11 10H0z')
                span.css-1f2y4fi GTA 5: Los Santos is glitzily superficial
            p.css-1x4bywk
            | Ah but&mldr; The genius of GTA V is in the sheer seductive force of its vision. The visuals are astonishing &ndash; just astonishing. Surely pushing this ageing hardware to the limits, we get the dense downtown with its soaring skyscrapers and murky, rubbish-strewn back alleys. But then out into the country, we have rolling grasslands and desert stretches, coyotes roaming, the shadows of eagles swooping overhead.
            p.css-1x4bywk
            | The world drags you in. It begs you to explore &ndash; and then it rewards you. You feel every millimetre of the landscape has been thoughtfully handcrafted with the curious gamer in mind. This seems an odd compliment &ndash; surely every video game landscape is crafted in this way. But so often, open worlds are built from architectural filler &ndash; bland unending landscapes and cardboard box tenements. San Andreas is a state of contrasts and extraordinary detail, there is always some interesting new nook to chance on, some breathtaking previously unexperienced view across the hills toward the capitalist spires of downtown. Designers often talk about rewarding the player for exploration, but usually do so with facile Easter eggs, hidden away in mundane backwaters. From the raging rivers running through the mountain wilderness parks to the beautiful modernist architecture tucked way in the Vinewood hills, Grand Theft Auto V is &ndash; like Fallout and Skyrim before it &ndash; a form of virtual tourism.
            p.css-1x4bywk
            | The talent too is in the emergent moments the system produces. Driving to a violent heist with Don Johnson&apos;s Heartbeat playing on the radio, the freeway clear before you; flying a crop-dusting plane up the contour of Mount Chiliad, so that you reach the peak just as the red sun falls, sending rainbows of lens flare through your cockpit screen; clipping a police car during a chase, sending your own vehicle spinning off the overpass onto the roof of an liquor store. All fun, all about you the player.
            h2 Complicity and culpability
            figure.css-10khgmf
            .css-1nfcn93
                picture(itemprop='contentUrl')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336675892/GTA-5-screenshot-008.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=c2290c7f629db9eb94ab90c4624f6996 1240w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336675892/GTA-5-screenshot-008.jpg?width=605&quality=45&auto=format&fit=max&dpr=2&s=14a5dda26bee6e708fb8da1b45b5b794 1210w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336675892/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=32e02ec9968368cb9e405e91de7bfe14 890w' sizes='(min-width: 660px) 620px, 100vw' media='(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)')
                source(srcset='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336675892/GTA-5-screenshot-008.jpg?width=620&quality=85&auto=format&fit=max&s=6acb2b7648992dcefadc0dd16b59c986 620w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336675892/GTA-5-screenshot-008.jpg?width=605&quality=85&auto=format&fit=max&s=dc109cdf73785ebddca3c5c586385dd6 605w,https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336675892/GTA-5-screenshot-008.jpg?width=445&quality=85&auto=format&fit=max&s=e4259edcd7ef8b48bcc2daeb8bd8f1e4 445w' sizes='(min-width: 660px) 620px, 100vw')
                img.css-uk6cul(alt='GTA 5 screenshot' src='https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2013/9/16/1379336675892/GTA-5-screenshot-008.jpg?width=445&quality=45&auto=format&fit=max&dpr=2&s=32e02ec9968368cb9e405e91de7bfe14' height='276' width='460' loading='lazy')
            figcaption.css-xe26t6
                span.css-1vo1rhq
                svg(width='11' height='10' viewbox='0 0 11 10')
                    path(fill-rule='evenodd' d='M5.5 0L11 10H0z')
                span.css-1f2y4fi GTA 5: explosive action
            p.css-1x4bywk
            | And however familiar the GTA set-up is, it still works. Blasting your way out of impossible face-offs with private armies, streaking through the city streets in a new car &ndash; some will hate the sheer amorality, the relentless seething darkness of the narrative. 
            strong [Spoiler]
            |  Many too will be horrified by an interactive torture scene that pushes the player to perform acts of cruelty on a defenceless victim 
            strong [spoiler ends]
            | . But GTA is all about complicity and culpability &ndash; what is the player prepared to do in this world? How much are they responsible for? During the game, Michael makes several visits to a shrink, complaining that he feels someone else is controlling him. Rockstar wants to interrogate the relationship between player and game &ndash; or at least snigger at the psychopolitics of it all.
            p.css-1x4bywk
            | Yes, some people will hate GTA V. Some, like me, will thoroughly enjoy it while acknowledging its complications, its shortcomings as a narrative adventure. Last of Us says more about humanity in five minutes than GTA V does in its 70-plus missions. Five stars for such a troubled proposition? That&apos;ll confuse and anger a few people, I know it. But no one constructs worlds like Rockstar and this one is worth many, many hours of exploration. It is fun, so much guilty, ridiculous fun. It is beautiful to look at, it is jammed with ideas, and when the free add-on, Grand Theft Auto Online, comes out in October, it will offer a compelling multiplayer experience, where participants combine and face off in gigantic turf wars.
            p.css-1x4bywk
            | And then GTA V is also a monstrous parody of modern life &ndash; our bubbling cesspit of celebrity fixation, political apathy and morose self-obsession. I half expected it to end with the Houser brothers dressed as Papa Lazarou from League of Gentlemen staring into the camera and whispering seductively, &quot;you all live in Los Santos now&quot;. But they don&apos;t need to, of course. This misanthropic masterpiece says it all for them.
            p.css-1x4bywk
            em
                | Tested on Xbox 360. Make sure you check out our video on 
                a(href='https://www.theguardian.com/technology/video/2013/sep/15/making-grand-theft-auto-video' data-link-name='in body link') the making of the original Grand Theft Auto
                | !

        

    footer
      #container.footer-container
        .container
          a(href='#')
            img.logo(src='../images/logo.svg' alt='logo')
          p.address
            | Amstelstraat 32, 1690AB
            br
            | NED
          ul.footer-linkjes
            li
              a(href='#') Terms of Service
            br
            li
              a(href='#') Privacy policy

    script(src='/js/main.js')
