doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title rdr2 review
    link(rel='stylesheet' href='/css/style.css')
  body#all.all
    .navbar-container
      header
        a(href='/')
          img.logo(src='/images/logo.svg' alt='Games')
        nav
          a.hambtn(href='#')
            img#menu.menu(src='/images/ham.svg' alt='Mobilemenu')
          ul#nav.ShowDesk.HideDesk.menull
            li#exit.exit-btn.HideDesk
              img(src='/images/cancel-button.svg' alt='toggle menu')
            li
              a(href='/') Home
            li
              a(href='/about') About
            li.dropdown 
              a#menu2.menu2(href="#") Reviews
              ul#nav2.nav2.ShowDesk.HideDesk.menull
                li#exit2.exit2.exit-btn.HideDesk
                  img(src='/images/cancel-button.svg' alt='toggle menu')
                li 
                  a(href="/reviews/test1") rdr2 
                li 
                  a(href="/reviews/test2") gta 5 
            li 
              a(href='/contact') Contact
            if loggedIn
              li
                a(href='/secret') Admin
              li
                a(href='/logout') Logout
            else     
              li
                a(href='/login') Login
    .reviewcontainer
        .css-15ibrj7
            main.css-1kiwfxx
                main.css-myhfeo
                .css-1gvjw7e
                    .article-body-commercial-selector.css-79elbk.article-body-viewer-selector
                    p.css-1x4bywk
                        span.css-1i2w9iu
                        span.css-1ljoi60 A
                        span.css-1x4bywk
                        | nybody coming to 
                        a(href='https://www.theguardian.com/games/red-dead-redemption' data-component='auto-linked-tag' data-link-name='in body link') Red Dead Redemption
                        |  2 expecting Grand Theft Auto with horses will be rather baffled by this slow-paced, sumptuous, character-driven Old West historical drama, in which you spend probably 60% of your time simply riding around the American wilderness. There&rsquo;s action too, in the form of shootouts, train robberies and frequent thrilling escapes on horseback, but these flashes of excitement punctuate a game that is largely about just being somewhere; about hunting, fishing and having long conversations on cross-country rides or around a campfire. In a mad fit of indulgence, Rockstar Games &ndash; the creators of Grand Theft Auto and one of the most successful game developers in the world &ndash; appears to have spent seven years and hundreds of millions creating the video game equivalent of Deadwood.
                    p.css-1x4bywk
                        | This is a story &ndash; a collection of stories, really &ndash; about the decline of a way of life, as a small gang of outlaws tries ever harder to outrun the inexorable advance of American modernity, as well as the enemies and lawmen they have antagonised along the way. The player&rsquo;s character, Arthur Morgan, is one of a small central cast assembled around gang leader Dutch Van der Linde, a classic western outlaw who fancies himself as a freedom fighter rather than a base criminal. The game takes in encounters with con men, warring Southern estates, rival gangs and a vivid array of incidental characters shaping turn-of-the-century America, touching upon race and women&rsquo;s suffrage, but keeping the overarching narrative focused on the Van der Linde band and the relationships within it.
                    p#sign-in-gate
                    figure.css-eiqqge
                        .css-1nfcn93
                        figcaption.css-zq9xdq
                        span.css-1vo1rhq
                            svg(width='11' height='10' viewbox='0 0 11 10')
                            path(fill-rule='evenodd' d='M5.5 0L11 10H0z')
                    p.css-1x4bywk
                        | These characters are rendered believable by technology that 
                        a(href='https://www.theguardian.com/games/2018/oct/24/get-real-behind-the-scenes-of-red-dead-redemption-2-the-most-realistic-video-game-ever-made' data-link-name='in body link') makes them look and move like real people
                        | , actors giving excellent performances with unexpected range, and writing that probes at their weaknesses and preoccupations. As you ride with them on robberies, hustles and other misadventures, they share anecdotes and personal observations that build over hours into rich portraits. Life centres around the camp, to which the player returns between robberies, hunting expeditions and encounters with the law to eat, sleep, take stock and share moments with the other members of the gang.
                    figure#ec218551-9e20-4d81-9d13-36fac46663bc.css-1mfia18
                        .css-1i4v9dy(data-print-layout='hide' data-link-name='rich-link-0 | 0' data-component='rich-link' data-name='')
                        .css-s7oxzu
                    #dfp-ad--inline2.js-ad-slot.ad-slot.ad-slot--inline.ad-slot--offset-right.ad-slot--inline2(data-link-name='ad slot inline2' data-name='inline2' aria-hidden='true' data-mobile='1,1|2,2|300,197|300,250|300,274|fluid' data-phablet='1,1|2,2|300,197|300,250|300,274|620,350|550,310|fluid' data-desktop='1,1|2,2|300,250|300,274|620,1|620,350|550,310|fluid|300,600|160,600')
                    p.css-1x4bywk
                        | Were it not so astonishing to look at, the amount of time that Red Dead Redemption 2 expects you to spend enjoying the scenery might be intolerably boring. But the Old West that Rockstar has conjured here is close to miraculous. Its world is a collage of capsule versions of real American landscapes: the crisp cold of the mountains; mesa-studded plains that offer views for miles; foggy, humid mornings in the bayou in the fictional Southern state of Lemoyne. In towns &ndash; or in the grimy, captivating city of Saint Denis, a fast-modernising take on turn-of-the-century New Orleans that is truly a marvel &ndash; you can call out a greeting to anyone walking the streets and be met with aggressive wariness or a polite nod. The horses are almost unnervingly lifelike, stately creatures that grunt and sweat as you gallop, whinnying nervously when you hear wolves in the night.
                    p.css-1x4bywk
                        | The obsessive detail on show here (and the determination to immerse the player in it) recalls Cormac McCarthy&rsquo;s border trilogy, those long, sparsely punctuated passages where he would spend pages describing a landscape and you&rsquo;d realise, at the end, that you hadn&rsquo;t exhaled for minutes. Rockstar plucks from all sorts of cinematic and literary sources for this version of the Old West, but its depiction is original, less romanticised and moralistic than the western movies that provide blueprints for the robberies and horseback shootouts of its action scenes. A movie cannot afford to spend tens of hours setting the scene in the way that Red Dead Redemption 2 does when it sends you on long horseback journeys, often without company. It has you skinning animals, cleaning guns, taking baths. The aggregate effect of all this detail is nothing less than total immersion, the sensation of a lived experience.
                    figure.css-10khgmf
                        .css-1nfcn93
                        figcaption.css-xe26t6
                        span.css-1vo1rhq
                            svg(width='11' height='10' viewbox='0 0 11 10')
                            path(fill-rule='evenodd' d='M5.5 0L11 10H0z')
                    p.css-1x4bywk
                        | This world is not only relentlessly beautiful, but has such a lot going on that you often find yourself on unexpected adventures. This isn&rsquo;t the usual video game busywork of endless collecting and killing. On the way to hunt a prize ram, I happened upon a train robbery in progress, decided to intervene, and ended up driving the train to the next station, where I entered a saloon and got into a fight over a poker game. When the lawmen came knocking I was pursued for miles, ending up in a part of the world I&rsquo;d never seen before, where I set up camp by the railroad and cooked up some boar meat. The next morning I happened upon a small gang of criminal miscreants sat around a fire, which turned out to be at the mouth of a huge cave complex serving as a hideout for a whole criminal gang. I barely survived the ensuing shootout, then had to make a run for it before I could loot the spoils, because bounty hunters from the previous town had suddenly shown up looking for me. This was maybe two hours of game time, and Red Dead offers 100 or more. It is impossibly vast.
                    figure#13ca2e6e-b328-421a-8dcd-ff0335077b0b.css-1mfia18
                        .css-1i4v9dy(data-print-layout='hide' data-link-name='rich-link-1 | 1' data-component='rich-link' data-name='')
                        .css-s7oxzu
                            a.css-ytumd6(href='/games/2018/oct/10/red-dead-redemption-2-wild-west-adventure-realism-preview')
                            .css-ziwyib
                            div

                    #dfp-ad--inline3.js-ad-slot.ad-slot.ad-slot--inline.ad-slot--offset-right.ad-slot--inline3(data-link-name='ad slot inline3' data-name='inline3' aria-hidden='true' data-mobile='1,1|2,2|300,197|300,250|300,274|fluid' data-phablet='1,1|2,2|300,197|300,250|300,274|620,350|550,310|fluid' data-desktop='1,1|2,2|300,250|300,274|620,1|620,350|550,310|fluid|300,600|160,600')
                    p.css-1x4bywk
                        | There can be no doubt that this is a landmark game. It is a new high water-mark for lifelike video game worlds, certainly, but that world is also home to a narrative portrait of the wild west that is unexpectedly sombre and not afraid to take its time. With very few exceptions, the many stories that Rockstar&rsquo;s writers have set out to tell about this group of outlaws land perfectly, the enjoyable twists and turns of individual missions and chapters feeding into an exciting, sophisticated and absorbing larger narrative &ndash; and the stories that you discover yourself within its world are no less compelling. Around 2,000 people worked very hard (probably 
                        a(href='https://www.theguardian.com/games/2018/oct/18/rockstar-games-working-conditions-red-dead-redemption-2-rob-nelson' data-link-name='in body link') too hard
                        | , in some cases) to make this game possible. Every last one of them should be proud of their contribution.
                    ul.css-1x4bywk
                        li
                        p Red Dead Redemption 2 is out Friday 26 October; &pound;49.99.
                #slot-body-end
                .css-1ey43xh-straightLines-fourLines-Lines
    footer
      #container.footer-container
        .container
          a(href='#')
            img.logo(src='../images/logo.svg' alt='logo')
          p.address
            | Amstelstraat 32, 1690AB
            br
            | NED
          ul.footer-linkjes
            li
              a(href='#') Terms of Service
            br
            li
              a(href='#') Privacy policy

            
    script(src='/js/main.js')
